
<main class="form-sign-in w-100 m-auto text-center container">
    <div>
        <img src="./images/Logo.png" alt="Logo" class="mb-5">
        <h1 class="h3 mb-3 fw-normal fw-medium fs-1">Вход</h1>

        <div class="input-group mb-2">
            <span class="input-group-text"><img src="./images/mail.png" alt="mail"></span>
            <input type="text" class="form-control" id="email" placeholder="Электронная почта">
        </div>
        <div class="input-group">
            <span class="input-group-text"><img src="./images/lock.png" alt="password"></span>
            <input type="password" class="form-control" id="password" placeholder="Пароль">
        </div>

        <div class="checkbox mb-3 mt-2">
            <label class="d-flex gap-2">
                <input type="checkbox" value="remember-me" class="" id="checkBox"> Запомнить меня
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary fw-medium fs-6" id="process" disabled>Войти</button>
        <p class="mt-2 mb-3 text-body-secondary d-flex gap-2">Ещё нет аккаунта? <a href="#/signup"> Пройдите регистрацию</a></p>
    </div>
</main>
